body {
  background-color: #333;
}

#candy-dance {
  border: 2px solid white;
  width: 840px;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
p {
  text-align: center;
  color: white;
}

a {
  color: #3caaff;
}
